<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav">  
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/atributos-faciales" routerLinkActive="active" (click)="isMobile ? drawer.close() : null">        
        <mat-icon matListIcon>badge</mat-icon>
        <span>Atributos Faciales</span>
      </a>
      <a mat-list-item routerLink="/foto-analyzer" routerLinkActive="active" (click)="isMobile ? drawer.close() : null">      
        <mat-icon matListIcon>face</mat-icon>
        <span>Análisis de Imagen</span>
      </a>
      <!--
      <a mat-list-item routerLink="/parecido-padres" routerLinkActive="active" (click)="isMobile ? drawer.close() : null">        
        <mat-icon matListIcon>group</mat-icon>
        <span>Parecido de Padres</span>
      </a>
      <a mat-list-item routerLink="/similitud-artista" routerLinkActive="active" (click)="isMobile ? drawer.close() : null">               
        <mat-icon matListIcon>palette</mat-icon>
        <span>Similitud de Artista</span>
      </a>
      -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Analizador de Imágenes con IA</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>